baseURL = 'https://braultkevin.fr'
languageCode = 'en-us'
title = 'BRAULT Kevin'
theme = "nojs"
Content = "test"

[menus]
    [[menus.main]]
        name = 'Home'
        pageRef = '/'
        weight = 1

    [[menus.main]]
        name = 'Posts'
        pageRef = '/posts'
        weight = 2

    [[menus.main]]
        name = 'Categories'
        pageRef = '/categories'
        weight = 3

[markup]
    [markup.goldmark]
        [markup.goldmark.extensions]
        [markup.goldmark.extensions.passthrough]
            enable = true
            [markup.goldmark.extensions.passthrough.delimiters]
            block = [['\[', '\]'], ['$$', '$$']]
            inline = [['\(', '\)'], ['$', '$']] # Added single dollar signs here
        [markup.goldmark.renderer]
            unsafe= true
    [markup.highlight]
        noClasses = false

