{{ define "main" }}
<p>Hello, i'm Kevin,</p>
<ul>
  <li>I have an <strong>M.S. in Computer Science</strong> with a <strong>Minor in Mathematics</strong>.</li>
  <li>I worked as a <strong>C#/Java/Web Developer</strong> for 6 years primarily for major telecommunications companies.
  </li>
  <li>For the last 5 years, I have worked as a <strong>Business Analyst/Proxy Product Owner</strong> for public
    projects.</li>
</ul>
<hr>
<p>This website is a collection of <strong>informal experimentations and technical notes</strong> exploring the
  intersections of computer science, mathematics, and electronics. </p>
<p>Beyond the code, this is a space where I document my curiosity for science and astronomy. </p>
<p>It’s less of an academic website and more of a personal digital notepad for building projects and testing ideas.</p>
<p><i>Note : I sometimes write in French, sometimes in English, depending on my mood at the time.</i></p>
{{ end }}